/* .client-section {
    padding-top: 66px;
}

.client-section__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-dark-color;
    margin-bottom: 50px;
}

.client-section__list {
    display: flex;
    flex-basis: calc(100% / 3 - 30px);
    padding-top: 0px;
    margin-left: -30px;
    margin-top: -30px;
}

.client-item {
    margin-top: 30px;
    margin-left: 30px;
}

.client-item__link {
    display: flex;
    width: 170px;
    height: 92px;
    fill: $client-item-color-link;
    border: 1px solid $client-item-color-link;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid $active-link-color;
        fill: $active-link-color;
    }
}*/