.hero {
    width: 100%;
    height: 100%;
    background: $background-dark-color;
    margin: 0 auto;
    text-align: center;
    padding: 118px 0;
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imeges-mobile/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (min-resolution: 2dppx) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imeges-mobile/header@2x.jpg');
    }
    @media screen and (min-width: 480px) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imeges-tablet/header-t.jpg');
        @media (min-resolution: 2dppx) {
            background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imeges-tablet/header-t2x.jpg');
        }
    }
    @media screen and (min-width: 769px) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imeges-desktop/header-d.jpg');
        @media (min-resolution: 2dppx) {
            background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../imeges-desktop/header-d@2x.jpg');
        }
    }
    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}


/*&.image-overlay {
        width: 100%;
        margin: 0;
        padding: 0px 0px 50% 0px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }*/


/* Фон под Героем с градиентом*/


/*.overlay {
                                                                        position: relative;
                                                                        max-height: 100%;
                                                                        margin-left: auto;
                                                                        margin-right: auto;
                                                                        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images3/overlay1.jpg');
                                                                        background-repeat: no-repeat;
                                                                        background-position: center;
                                                                        background-size: cover;
                                                                    }*/


/* Эффективные решения для вашего бизнеса */

.hero-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.hero__title {
    width: 100%;
    display: block;
    font-weight: 900;
    font-size: calc(26px + 18 * (100vw / 1200));
    line-height: 1.615;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: full-width;
    color: $main-light-color;
    margin: 0 auto 30px;
    @media screen and (max-width: 767px) {
        width: 100%;
        font-weight: 900;
        font-size: calc(26px + (18 + 18 * 0.7) * ((100vw - 480px) / 1200));
        line-height: 1.36;
    }
}


/*------------------------Кнопка заказать услугу--------------------------*/

.hero__btn {
    width: 200px;
    height: 50px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    background: $active-link-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $main-light-color;
    transition: color 250ms linear, background-color 250ms linear;
    &:hover,
    &:focus {
        background-color: $background-link-color;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}