.section-properties {
    display: block;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        margin-right: -30px;
    }
}

.section-properties__item {
    //  margin-right: 15px;
    //  margin-left: 15px;
    // margin-bottom: 30px;
    //  &:nth-child(4) {
    //margin-bottom: 0;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-left: 30px;
        margin-top: 30px;
        margin-right: 0;
        margin-bottom: 0;
        flex-basis: calc((100% - 60px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        margin-right: 30px;
        margin-left: 0;
        &:nth-child(4) {
            margin-right: 0;
        }
    }
}

.section-properties__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $background-light-color;
    border-radius: 4px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.section-properties__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-dark-color;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
    }
    @media screen and (min-width: 1200px) {
        justify-content: start;
    }
}

.section-properties__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $main-grey-color;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: block;
    }
}