/*Общее оформление*/

body {
    font-family: Roboto, sans-serif;
    color: #212121;
    background-color: #FFFFFF;
    letter-spacing: 0.03em;
}


/* Секция*/

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.no-padding {
    padding: 0;
}


/*Контенер*/


/*.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}*/

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
        width: 480px;
        position: relative;
    }
    @media screen and (min-width: 768px) {
        width: 768px;
    }
    @media screen and (min-width: 1140px) {
        width: 1140px;
    }
}


/* Общее оформление кнопок*/

button {
    cursor: pointer;
    border: none;
}


/* Общее оформление картинок*/

img {
    display: block;
    max-width: 100%;
    height: auto;
}